* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

:root {
  --background-color: #573824;
  --surface-color: #f0e8c2;
  --text-primary: #291b1a;
  --text-secundary: #573a37;
  --text-on-bg: #f0e8c2;
}

body {
  background-image: url(./assets/bg-image.png);
  background-color: var(--background-color);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Alice", serif;
}

#page {
  background-color: var(--surface-color);
  padding: 24px;
  width: 800px;
  border-radius: 16px;
  margin: 48px auto 28px;
}

#banner {
  width: 752px;
  height: 400px;
  border-radius: 16px;
  margin-bottom: 24px;
}

#info {
  padding-top: 12px;
}

h1 {
  font-size: 40px;
  line-height: 140%;
  font-weight: 400;
  color: var(--text-primary);
}

h2 {
  font-size: 24px;
  line-height: 150%;
  font-weight: 400;
  color: var(--text-primary);
}

p {
  line-height: 150%;
  font-size: 16px;
  color: var(--text-secundary);
}

div {
  display: flex;
  flex-direction: column;
  padding: 0 24px;
}

div ul {
  margin: 0;
  padding-left: 20px;
}

ul li {
  gap: 12px;
  font-size: 16px;
  line-height: 150%;
  color: var(--text-secundary);
}

#ingradients {
  margin-top: 12px;
}

#preparetion h2 {
  margin-top: 12px;
}

#icon {
  width: 14px;
  height: 12px;
}

footer {
  color: var(--text-on-bg);
  padding: 28px 0;
  text-align: center;
}

footer img {
  vertical-align: middle;
}
